<section class="circle-overview-container <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
    <% sc = @circle.super_circle %>
    <% if sc %>
      <%= image_tag "holacracy_super_circle.svg",
        alt: "super circle icon (a circle with a gap at the top and an arrow pointing upwards out of it)",
        class: "super-circle-icon circle-overview-icon"
      %>

      <div class="circle-overview-super-circle">
        <%= link_to circle_path(sc) do %>
          <p><%= sc.abbreviation || sc.title %></p>
        <% end %>
      </div>
    <% end %>


    <% sc = @circle.sub_circles %>
    <% if sc.present? %>
      <%= image_tag "holacracy_sub_circle.svg",
        alt: "sub circle icon (a circle with a gap at the top and an arrow pointing downwards inside of it)",
        class: "sub-circle-icon circle-overview-icon"
      %>

      <div class="circle-overview-sub-circles">
        <% @circle.sub_circles.each do |sc| %>
          <%= link_to circle_path(sc) do %>
            <p><%= sc.abbreviation || sc.title %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
</section>
