<% c = locals[:circle] %>
<% sc = c.super_circle %>

<%= link_to circle_path(c) do  %>
  <div class="circle-card card-basic">
    <div class="circle-card-content">
      <div class="circle-card-icons-top">
        <% if sc %>
          <p class="parent-circle-icon"><i class="fas fa-level-up-alt"></i> <%= sc.abbreviation || pc.title %> </p>
        <% end %>
      </div>
      <div class="circle-card-title-container">
        <h3 class="circle-title"> <%= c.abbreviation || c.title %> </h3>
      </div>
      <div class=circle-card-icons-bottom>
        <p class="employee-icon"><i class="fas fa-user"></i> <%= c.employees.count %></p>
        <p class="role-icon"><i class="fas fa-address-card"></i> <%= c.roles.count %></p>
      </div>
    </div>
  </div>
<% end %>
