<div class="circle-overview-container <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <section class="circle-overview-info">
      <% super_circle = @circle.super_circle %>
      <% if super_circle %>
        <%= render 'shared/super-circle-icon' %>
        <div class="circle-overview-super-circle">
          <p>
            <%= link_to circle_path(super_circle), class: "text__link" do %>
              <%= super_circle.acronym || super_circle.title %>
            <% end %>
          </p>
        </div>
      <% end %>

      <% sub_circle = @circle.sub_circles %>
      <% if sub_circle.present? %>
        <%= render 'shared/sub-circle-icon' %>
        <div class="circle-overview-sub-circles">
          <% @circle.sub_circles.each do |sub_circle| %>
            <p>
              <%= link_to circle_path(sub_circle), class: "text__link" do %>
                <%= sub_circle.acronym || sub_circle.title %>
              <% end %>
            </p>
          <% end %>
        </div>
      <% end %>

    <%= render 'shared/role-icon' %>
    <div class="circle-overview-default-roles">
      <p><%= @roles.count %></p>
      <% lead_link = @circle.lead_link %>
      <% if lead_link %>
        <p>Lead Link:
          <%= link_to employee_path(lead_link), class: "text__link" do %>
            <%= lead_link.first_name %>
          <% end %>
        </p>
      <% end %>

      <% rep_link = @circle.rep_link %>
      <% if rep_link %>
        <p>Rep Link:
          <%= link_to employee_path(rep_link), class: "text__link" do %>
            <%= rep_link.first_name %>
          <% end %>
        </p>
      <% end %>

      <% facilitator = @circle.facilitator %>
      <% if facilitator %>
        <p>Facilitator:
          <%= link_to employee_path(facilitator), class: "text__link" do %>
            <%= facilitator.first_name %>
          <% end %>
        </p>
      <% end %>

      <% secretary = @circle.secretary %>
      <% if secretary %>
        <p>Secretary:
          <%= link_to employee_path(secretary), class: "text__link" do %>
            <%= secretary.first_name %>
          <% end %>
        </p>
      <% end %>
    </div>

    <%= render 'shared/employee-icon' %>

    <div class="circle-overview-employees">
      <p><%= @circle.employees.count %></p>
    </div>
    <div class="orgchart">
      <%= sanitize @circle_html %>
      <% @circle_html_data.each do |data| %>
        <!-- TODO: convert html_data into html (using case?) -->
      <% end %>
    </div>
  </section>

</div>
