<div class="form-container">
  <%= simple_form_for @employee do |f| %>
    <div class="form-inputs">
      <%= f.input :first_name,
                  autofocus: true,
                  required: true,
                  label: 'Vorname' %>
      <%= f.input :last_name,
                  required: true,
                  label: 'Nachname' %>
      <%= f.input :nickname,
                  label: 'Spitzname' %>
      <%= simple_fields_for @user do |u| %>
        <%= u.input :email,
                    required: true,
                    label: 'E-Mail' %>
        <div class="d-flex">          
          <%= u.input :password,
                      required: true,
                      input_html: { value: 'loveandhappiness' },
                      readonly: true,
                      label: 'Passwort' %>
          <!-- NOTE: use 'transform: scale(0)' instead of 'display: none' for input elements
          to keep them accessible for screen readers -->
          <input id="toggle-password" type="checkbox" style="transform: scale(0);">
          <label for="toggle-password">
            <i class="far fa-eye" id="show-password" style="cursor: pointer;"></i>
            <i class="far fa-eye-slash" id="hide-password" style="cursor: pointer; display: none;"></i>
          </label>
        </div>
        <%= u.input :admin,
                    as: :boolean %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit,
                    locals[:submit_text],
                    class: 'btn-basic btn--clr-submit' %>
    </div>
  <% end %>
</div>
