<% e = locals[:employee] %>

<div class="employee-card card-basic" style=<%= "--hue:#{locals[:hue]};" %>>
  <a href=<%="employees/#{e.id}"%> class="link--fill-space"></a>
    <div class="name" >
      <p class="full-name"><%= e.full_name %></p>
      <% if e.nickname %>
        <p><em><%= e.nickname %></em></p>
      <% end %>
    </div>
    <div class="info">
      <div class="circles" >
        <%= render 'shared/circle-icon', locals: { margin: 'mb-base', size: 'xlg' } %>
        <% e.circles.each do |c| %>
          <p class="circle-title">
            <%= c.acronym || c.title %>
          </p>
        <% end %>
      </div>
      <div class="roles" >
        <%= render 'shared/role-icon', locals: { margin: 'mb-base', size: 'xlg' } %>
        <% e.roles.ordered_by_title.each do |r| %>
          <p class="role-title">
            <%= r.acronym || r.title %>
          </p>
        <% end %>
      </div>
    </div>
  </a>
</div>
