<section class="employee-overview-container <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <!-- <h2>Übersicht</h2> -->
  <div class="circles">
    <div class="img-wrapper">
      <%= image_tag "holacracy_circle.svg",
        alt: "circle icon (a circle with a smaller circle inside)",
        class: "icon-large-size"
      %>
    </div>

    <% @circles.each do |c| %>
      <%= link_to (c.acronym || c.title), circle_path(c) %>
    <% end %>
  </div>

  <div class="roles">
    <div class="img-wrapper">
      <%= image_tag "holacracy_role.svg",
          alt: "role icon (a circle with a dot inside)",
          class: "icon-large-size"
      %>
    </div>

    <% @roles.each do |r| %>
      <%= link_to "#{r.acronym || r.title} (#{r.status_string(@employee)})", role_path(r) %>
    <% end %>
  </div>
</section>
