<section class="d-flex <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <!-- <h2>Übersicht</h2> -->
    <!-- TODO: Move style of divs into css files -->
  <div class="circles card-basic mr-base stack" style="min-width: 25ch;">
    <div class="img-wrapper">
      <%= render 'shared/circle-icon', locals: { size: 'xlg' } %>
    </div>

    <% @circles.each do |c| %>
      <div class="d-block">
        <%= link_to (c.acronym || c.title), circle_path(c), class: 'text__link' %>
      </div>
    <% end %>
  </div>

  <div class="roles card-basic stack" style="min-width: 25ch;">
    <div class="img-wrapper">
      <%= render 'shared/role-icon', locals: { size: 'xlg' } %>
    </div>

    <% @roles.each do |r| %>
      <div class="d-block">
        <%= link_to role_path(r), class: 'text__link' do %>
          <%= "#{r.acronym || r.title}" %>
          <br>
          <em><%= "#{RoleFilling.find_by(role: r, employee: @employee).humanize_status}" %></em>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
