<% r = locals[:role_data] %>
<% role = r[:role] %>  

<div class="my-role-card card-basic">
  <%= link_to role_path(role) do  %>
    <p class="role-title"><%= r[:acronym] || r[:title] %></p>
  <% end %>

  <div class="circles">
    <%= link_to circle_path(r[:primary_circle]) do %>
      <p class="primary-circle"><%= r[:primary_circle].title %></p>
    <% end %>
    <% if r[:secondary_circle] %>
      <%= link_to circle_path(r[:secondary_circle]) do %>
        <p class="secondary-circle"><%= r[:secondary_circle].title %></p>
      <% end %>
    <% end %>
  </div>

  <div class="status">
    <p><%= role.status_string(@employee) %></p>
  </div>

  <div class="links">
    <%= link_to '/' do %>
      <%= render 'shared/edit-icon' %>
    <% end %>
    <%= link_to role_path(role), method: :delete, data: { confirm: "Are you sure?" } do %>
      <%= render 'shared/delete-icon' %>
    <% end %>
  </div>
</div>
