<% rf = locals[:role_filling] %>
<% e = rf.employee %>

<div class="card-basic d-flex flex-wrap justify-content-between align-items-center container--max-width-lg">
  <div class="flex-basis-60">
    <p>
      <%= link_to employee_path(e), class: "text__link" do %>
      <%= "#{e.first_name} #{e.last_name}" %>
      <% end %>
    </p>
  </div>

  <div class="d-flex flex-wrap justify-content-between flex-basis-40">
    <div class="d-flex align-items-center">
      <p>
        <%= rf.humanize_status %>
      </p>
    </div>

    <div class="d-flex align-items-center">
      <p>
        <% if policy(rf).edit? %>
          <!-- NOTE: the 'display: inline-block' suppresses underline on hover here -->
          <%= link_to edit_role_filling_path(rf), class: 'btn--clr-edit-icon mr-xsm d-inline-block' do %>
            <%= render 'shared/edit-icon' %>
          <% end %>
        <% end %>
        <% if policy(rf).destroy? %>
          <%= link_to role_filling_path(rf), method: :delete, data: { confirm: "Rollenfüllung wirklich löschen? Das kann nicht rückgängig gemacht werden" }, class: 'btn--clr-delete-icon' do %>
            <%= render 'shared/delete-icon' %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
