<section class="role-overview-container <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <div class="role-info-container">
    <%= image_tag "holacracy_circle.svg",
      alt: "a circle (the geometric shape) within another circle",
      class: "circle-icon role-overview-icon icon-medium-size"
    %>

    <div class="role-overview-circles">
      <% @role.circles.each do |c| %>
        <p>
          <%= link_to circle_path(c), class: "text-link" do %>
            <%= c.acronym || c.title %>
          <% end %>
        </p>
      <% end %>
    </div>

    <%= image_tag "holacracy_employee.svg",
      alt: "a filled circle (the geometric shape) within another circle",
      class: "employee-icon role-overview-icon icon-medium-size"
    %>

    <div class="role-overview-employees">
      <% if @role.ccms_and_non_ccms.empty? %>
        <% ll = @role.primary_circle.lead_link %>
        <p>
          Rolle unbesetzt
          <% if ll %>
            (Lead Link: <%= link_to ll.full_name, employee_path(ll), class: "text-link" %>)
          <% end %>
        </p>
      <% else %>
        <% @role.ccms.each do |e| %>
          <p>
            <%= link_to employee_path(e), class: "text-link" do %>
              <%= "#{e.first_name} #{e.last_name}" %>
            <% end %>
          </p>
        <% end %>

        <%# if @role.elected? %>
          <!-- <p><%#= "Gewählt bis: #{@role.new_election_date}" %></p> -->
        <%# end %>

        <% @role.non_ccms.each do |e| %>
          <p>
            <%= link_to employee_path(e), class: "text-link" do %>
              <%= "#{e.first_name} #{e.last_name}" %>
            <% end %>
          </p>
        <% end %>
      <% end %>

      <% @role.substitutes.each do |s| %>
        <p>
          <%= link_to employee_path(s), class: "text-link" do  %>
            <%= "(#{s.first_name} #{s.last_name})" %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="btn-container">
    <%= link_to 'Zur Rollenbeschreibung', @role.url, class: 'btn-action', target: '_blank' %>
  </div>
</section>
