<% r = locals[:role] %>

<div class="role-card">
  <div class="role-title-container">
    <%= link_to role_path(r) do %>
      <p class="role-title"><%= r.title %></p>
    <% end %>
  </div>

  <div class="role-employees">
    <% r.ccms.each do |ccm| %>
      <%= render 'shared/initials', locals: { employee: ccm, role: r } %>
    <% end %>

    <% r.non_ccms.each do |non_ccm| %>
      <%= render 'shared/initials', locals: { employee: non_ccm, role: r } %>
    <% end %>

    <% r.substitutes.each do |s| %>
      <%= render 'shared/initials', locals: { employee: s, role: r } %>
    <% end %>
  </div>
</div>
