<div class="form-container">
  <%= simple_form_for @role do |f| %>
    <div class="form-inputs">
      <%= f.input :role_type,
                  readonly: locals[:role_type_readonly],
                  required: true,
                  autofocus: true,
                  as: :select,
                  collection: @types_collection,
                  label: 'Rollentyp' %>
      <%= f.input :title,
                  required: true,
                  value: @role.title,
                  label: 'Name' %>
      <%= f.input :primary_circle_id,
                  readonly: locals[:primary_circle_id_readonly],
                  as: :select,
                  collection: @circles_collection,
                  required: true,
                  value: @primary_circle_value,
                  label: 'Primärkreis' %>
      <%= f.input :secondary_circle_id,
                  readonly: !@role.link?,
                  as: :select,
                  collection: @circles_collection,
                  value: @secondary_circle_value,
                  label: 'Sekundärkreis'%>
      <%= f.input :acronym,
                  required: false,
                  value: @role.acronym,
                  label: 'Abkürzung' %>
      <%= f.input :url,
                  required: true,
                  value: @role.url,
                  label: 'Link Rollenbeschreibung' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit,
                    locals[:submit_text],
                    class: 'btn-action' %>
    </div>
  <% end %>
</div>
