<div class="form-container">
  <%= simple_form_for @role do |f| %>
    <div class="form-inputs">
      <%= f.input :title,
                  required: true,
                  autofocus: true,
                  value: @role.title,
                  label: 'Name' %>
      <%= f.input :primary_circle,
                  as: :select,
                  collection: @circles_collection,
                  required: true,
                  value: @primary_circle_input,
                  label: 'Primärkreis' %>
      <%= f.input :secondary_circle,
                  as: :select,
                  collection: @circles_collection,
                  value: @secondary_circle_input,
                  label: 'Sekundärkreis'%>
      <%= f.input :acronym,
                  required: false,
                  value: @role.acronym,
                  label: 'Abkürzung' %>
      <%= f.input :url,
                  required: true,
                  value: @role.url,
                  label: 'Link Rollenbeschreibung' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit,
                    locals[:submit],
                    class: 'btn-action' %>
    </div>
  <% end %>
</div>
