<section class="role-overview-container <%= locals[:visibility_class] %>" id="<%= locals[:dataset_id] %>">
  <%= image_tag "holacracy_circle.svg", alt: "a circle (the geometric shape) within another circle", class: "circle-icon role-overview-icon" %>

  <div class="role-overview-circles">
    <% @role.circles.each do |c| %>
      <%= link_to circle_path(c) do %>
        <p class=<%= 'bold' if @role.main_circle == c %>><%= c.abbreviation || c.title %><br></p>
      <% end %>
    <% end %>
  </div>

  <%= image_tag "holacracy_employee.svg", alt: "a filled circle (the geometric shape) within another circle", class: "employee-icon role-overview-icon" %>

  <div class="role-overview-employees">
    <% if @role.ccms_and_non_ccms.empty? %>
      <% ll = @role.main_circle.lead_link %>
      <p>
        Rolle unbesetzt
        <% if ll %>
          (Lead Link: <%= link_to ll.full_name, employee_path(ll), class: "bold" %>)
        <% end %>
      </p>
    <% else %>
      <% @role.ccms.each do |e| %>
        <%= link_to employee_path(e) do %>
          <p class=<%= 'bold' if e.ccm?(@role) %>><%= "#{e.first_name} #{e.last_name}" %></p>
        <% end %>
      <% end %>

      <% if @role.elected? %>
        <p><%= "Gewählt bis: #{@role.new_election_date}" %></p>
      <% end %>

      <% @role.non_ccms.each do |e| %>
        <%= link_to employee_path(e) do %>
          <p><%= "#{e.first_name} #{e.last_name}" %></p>
        <% end %>
      <% end %>
    <% end %>


    <% @role.substitutes.each do |s| %>
      <%= link_to employee_path(s) do  %>
        <p><%= "(#{s.first_name} #{s.last_name})" %></p>
      <% end %>
    <% end %>
  </div>
</section>
