<% user = locals[:user] %>

<div class="cluster ">
  <div class="card-basic align-items-center max-width-max-content"> <!-- wrapper for cluster -->
    <p class="card__email--width text-break"><%= user.email %></p>
    <p class="card__full-name--width text-break"><%= user.employee ? user.employee.full_name : '-' %></p>
    <p class="card__user-admin--width text-break"><%= user.admin? ? 'Admin' : '' %></p>
    <!-- <p class="card__user-status--width text-break"><%#= user.deactivated? ? 'deaktiviert' : 'aktiviert' %></p> -->
    <%= link_to toggle_user_deactivated_path(user), method: 'patch', class: 'btn-basic btn--clr-submit' do %>
        <%= user.deactivated? ? 'aktivieren' : 'deaktivieren' %>
    <% end %>
  </div>
</div>
