<div class="shifts-new-page-container page-container">
  <div class="shifts">
    <ul>
      <% @shifts.each do |s| %>
        <li><p> <%= "#{s.weekday}, #{s.time_start.strftime('%H:%M')}-#{s.time_end.strftime('%H:%M')}: #{s.role.title}" %> </p></li>
      <% end %>
    </ul>
  </div>

  <div class="new-shift-form">
    <% if @errors.any? %>
      <% @errors.each do |e| %>
        <p class="shift-errors"> <%= e %> </p>
      <% end %>

    <% end %>
    <%= simple_form_for @shift do |f| %>
      <%= f.input :role_filling_id, collection: @roles_input %>
      <%= f.input :weekday, collection: @weekdays_input %>
      <%= f.input :time_start %>
      <%= f.input :time_end %>
      <%= f.input :valid_from %>
      <%= f.submit "add shift" %>
    <% end %>
  </div>
</div>
