<!-- TODO: add several inputs to this form and change
submit to "speichern" (or do AJAX?) -->

<p><%= @employee.full_name %></p>

<%#= simple_form_for @employee, controller: 'employees', action: 'update', html: { method: :patch } do |f| %>
<%= simple_form_for @employee do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Speichern' %>
<% end %>

<% if @employee.photo.attached? %>
  <%= cl_image_tag @employee.photo.key,
                   height: 300,
                   width: 400,
                   crop: :fill %>
                   <% else %>
   <p>Platzhalter Profilfoto</p>
<% end %>
