<div class="box">
  <div class="d-flex align-items-center">
    <h1><%= @role.title %> <%= "(#{@role.acronym})" unless @role.acronym.blank? %></h1>
    <% if policy(@role).edit? && !@role.circle_role? %>
      <%= link_to edit_role_path(@role), class: 'btn--clr-edit-icon' do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <% if @role.destroyable? && policy(@role).destroy? %>
      <%= link_to role_path(@role), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>

  <%#= render 'shared/tabs', locals: { tabs: @tabs } %>
  <div class="role-content">
    <%= render 'shared/show-page-content' %>
  </div>
</div>
