<ul>
  <% @circles.each do |c| %>
    <li>
      <%= c.title %> <%= "(#{c.abbreviation})" if c.abbreviation %> <br>
      <ul>
        <li>
          <%= "Superkreis: #{c.parent_circle.title}" if c.parent_circle %>
        </li>
        <li>
          <%= "Subkreise:"%>
          <ul>
            <% c.sub_circles.each do |sc| %>
              <%= sc.title %>
            <% end %>
          </ul>
        </li>
        <ul>
          <% c.roles.each do |r| %>
            <li><%= r.title %></li>
          <% end %>
        </ul>
      </ul>
    </li>
  <% end %>
</ul>
