
<div class="circles-show-page-container page-container">
  <div class="middle-container">
    <h1> <%= @circle.title %> </h1>

    <%= render 'shared/tabs', locals: { tabs: @tabs } %>
    <div class="circle-content">
      <%= render 'shared/circle-overview',
      locals: {
        visibility_class: 'visible-content',
        dataset_id: @tabs.first[:dataset_id]
      }%>

      <%= render 'shared/circle-description',
      locals: {
        visibility_class: 'invisible-content',
        dataset_id: @tabs[1][:dataset_id]
      }%>

      <%= render 'shared/circle-roles',
      locals: {
        visibility_class: 'invisible-content',
        dataset_id: @tabs[2][:dataset_id]
      }%>
    </div>
  </div>
</div>;
