<div class="box">
  <div class="d-flex align-items-center">
    <h1> <%= @circle.title %><%= " (#{@circle.acronym})" unless @circle.acronym.blank? %> </h1>
    <% if policy(@circle).edit? %>
      <%= link_to edit_circle_path(@circle), class: 'btn--clr-edit-icon' do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <% if @circle.level > 0 && policy(@circle).destroy? %>
      <%= link_to circle_path(@circle), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
    <%= link_to 'Unterkreis hinzufügen', new_circle_path(@circle) %>
  </div>

  <%= render 'shared/tabs', locals: { tabs: @tabs } %>

  <div class="circle-content">
    <%= render 'shared/show-page-content' %>
  </div>
</div>
